<nav class="bottom-nav">

  <div class="nav-item"
      routerLink="/home"
      routerLinkActive="active">
    <span><i class="fas fa-house"></i></span>
    <p>Início</p>
  </div>

  <div class="nav-item"
      routerLink="/mapa">
    <span><i class="fas fa-map-location-dot"></i></span>
    <p>Mapa</p>
  </div>

  <div class="nav-item center"
        routerLink="/selecao-rota">
    <span>
        <i class="fas fa-location-arrow"></i>
    </span>
    <p>Viagem</p>
  </div>

  <div class="nav-item"
      routerLink="/rotas-favoritas"
      routerLinkActive="active">
    <span><i class="fas fa-star"></i></span>
    <p>Favoritos</p>
  </div>

  <div class="nav-item"
    routerLink="/perfil"
    routerLinkActive="active">
    <span>
        <i class="fas fa-user"></i>
    </span>
    <p>Perfil</p>
  </div>

</nav>

