.home-container {
  padding-bottom: 110px;

background: linear-gradient(
  90deg,
  #8d95ff,
  #6f82ff
);
  min-height: 100vh;

  background: #f8f8ff;

  padding: 25px;
}

header {

  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 30px;
}

.welcome h1 {
  font-size: 2.3rem;
  color: #1f2167;

  margin-bottom: 5px;
}

.welcome p {

  color: #777;
}

.search-card {

  background: white;

  padding: 25px;

  border-radius: 25px;

  margin-top: 20px;

  box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

.search-card input {

  width: 93%;

  padding: 10px;

  border: none;

  border-bottom: 1px solid #eee;

  margin-bottom: 10px;
}

.search-card button {

  width: 100%;

  height: 45px;

  border: none;

  border-radius: 20px;

  color: white;

  background: linear-gradient(
    90deg,
    #8a97ff,
    #7585ff
  );
}

.quick-access {
  margin-top: 30px;
}

.quick-access h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f2167;
  margin-bottom: 20px;
}

.quick-grid {
   display: flex;

  gap: 15px;

  overflow-x: auto;

  padding-bottom: 10px;
}

.quick-card {
  background: white;

  border-radius: 22px;

  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  box-shadow: 0 4px 12px rgba(0,0,0,.05);

  cursor: pointer;
  min-width: 110px;

  transition: .2s;
}

.quick-card:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.quick-card span {
  font-size: 0.9rem;
  color: #333;
  font-weight: 500;
}

/* CARD DAS ROTAS */

.rotas {
  margin-top: 25px;
}

.rotas-header {
  margin-bottom: 15px;
}

.rotas-header h2 {
  color: #1e1e5a;
  font-size: 1.5rem;
  font-weight: 700;
}

.rota-card {

  background: white;

  border-radius: 20px;

  padding: 15px;

  margin-bottom: 15px;

  display: flex;

  align-items: center;

  gap: 15px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  transition: 0.3s;
}

.rota-card:hover {
  transform: translateY(-2px);
}

.linha {

  min-width: 70px;
  height: 70px;

  border-radius: 16px;

  background: linear-gradient(
    135deg,
    #8a97ff,
    #7585ff
  );

  color: white;

  font-size: 1.5rem;
  font-weight: 700;

  display: flex;

  justify-content: center;
  align-items: center;
}

.rota-info {
  flex: 1;
}

.rota-info h3 {

  color: #1e1e5a;

  font-size: 1.1rem;

  margin-bottom: 8px;
}

.rota-info p {

  color: #777;

  font-size: 0.9rem;
}

.tempo {

  min-width: 85px;

  background: #f3f4ff;

  border-radius: 15px;

  padding: 10px;

  text-align: center;
}

.tempo span {

  display: block;

  color: #7585ff;

  font-size: 1.2rem;

  font-weight: 700;
}

.tempo small {

  color: #777;

  font-size: 0.75rem;
}

.location-card {

  background: white;

  border-radius: 20px;

  padding: 20px;

  margin-top: 20px;

  box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

.location-card h3 {

  color: #1e1e5a;

  margin-bottom: 10px;
}

.location-card p {

  color: #666;

  margin-bottom: 15px;
}

.location-card button {

  width: 100%;

  height: 50px;

  border: none;

  border-radius: 15px;

  background: linear-gradient(
    90deg,
    #8a97ff,
    #7585ff
  );

  color: white;

  font-weight: 600;

  cursor: pointer;
}

.notification-btn{
    width:48px;
    height:48px;

    border:none;
    border-radius:50%;

    background:#fff;

    display:flex;
    align-items:center;
    justify-content:center;

    box-shadow:0 8px 22px rgba(90,90,160,.12);

    color:#5F73FF;
    font-size:18px;

    transition:.25s;
}

.notification-btn:hover{
    transform:translateY(-2px);
}
