<div class="home-container">

  <!-- Header -->
  <header>

    <button>
        <i class="fas fa-bars"></i>
    </button>

    <h2>BusAlert</h2>

    <button>
        <i class="fas fa-bell"></i>

    </button>

  </header>

  <!-- Saudação -->
  <section class="welcome">

    <h1>
      Olá, {{ usuario?.nome }} 👋
    </h1>

    <p>
      Para onde vamos hoje?
    </p>

  </section>

  <!-- Busca de rotas -->
  <section class="search-card">

    <div class="search-input">
      <i class="fas fa-location-dot"></i>
        <input
      type="text"
      placeholder="De onde você está saindo?">
    </div>


    <div class="search-input">
      <i class="fas fa-flag-checkered"></i>
      <input
      type="text"
      placeholder="Para onde você quer ir?">
    </div>


    <button>
        <i class="fas fa-route"></i>
      Buscar rotas
    </button>

  </section>

  <!-- Acessos rápidos -->
  <section class="quick-access">

    <h2>Acessos rápidos</h2>

    <div class="quick-grid">

      <div class="quick-card">

        <div class="icon">
            <i class="fas fa-location-dot"></i>
        </div>

        <span>
          Pontos<br>
          próximos
        </span>

      </div>

      <div class="quick-card">

        <div class="icon">
            <i class="fas fa-star"></i>
        </div>

        <span>
          Rotas<br>
          favoritas
        </span>

      </div>

      <div class="quick-card">

        <div class="icon"><i class="fas fa-bell"></i></div>

        <span>
          Notificações
        </span>

      </div>

      <div class="quick-card">

        <div class="icon">
            <i class="fas fa-ticket"></i>
        </div>

        <span>
          Minhas<br>
          viagens
        </span>

      </div>

    </div>

  </section>

  <!-- Localização -->
  <section
  class="location-card"
  *ngIf="!localizacaoAtiva">

  <h3>Ativar localização</h3>

  <p>
    Permita o acesso à sua localização para
    receber rotas mais precisas.
  </p>

  <button (click)="ativarLocalizacao()">
    Ativar agora
  </button>

  </section>

  <!-- Rotas sugeridas -->
  <section
    class="rotas"
    *ngIf="localizacaoAtiva">

    <div class="rotas-header">

      <h2>
        Rotas sugeridas para você
      </h2>

    </div>

    <div
  class="rota-card"
  *ngFor="let rota of rotas">

  <div class="linha">
    {{ rota.linha }}
  </div>

  <div class="rota-info">

    <h3>
      {{ rota.origem }}
      →
      {{ rota.destino }}
    </h3>

    <p>
        <i class="fas fa-clock"></i>
      Saída às {{ rota.horario }}
    </p>

  </div>

  <div class="tempo">

    <span>
      {{ rota.tempo }}
    </span>

    <small>
      estimado
    </small>

  </div>

</div>

  </section>
  <app-navbar></app-navbar>
  </div>
