.monitoramento-container {
  min-height: 100vh;
  padding: 28px 24px 110px;
  background: #f7f7ff;
}

.monitoramento-container h1 {
  color: #10105f;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}

#map {
  width: 100%;
  height: 310px;
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 22px;
  box-shadow: 0 8px 25px rgba(90, 90, 160, 0.12);
}

.monitoramento-container h2 {
  color: #10105f;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 6px;
}

.monitoramento-container p {
  color: #74748f;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
}

.monitoramento-container h3 {
  font-size: 42px;
  color: #5f73ff;
  font-weight: 900;
  margin: 20px 0 8px;
}

.progress-bar {
  width: 100%;
  height: 12px;
  background: #e8e9f6;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #5f73ff, #8a97ff);
  border-radius: 20px;
  transition: width 0.4s ease;
}

.alerta-card {
  background: #fff3df;
  color: #10105f;

  border-radius: 22px;
  padding: 18px;
  margin: 20px 0;

  font-size: 15px;
  font-weight: 800;

  box-shadow: 0 8px 22px rgba(255, 159, 28, 0.16);
}

.monitoramento-container button {
  width: 100%;
  padding: 17px;
  margin-top: 16px;

  border: none;
  border-radius: 18px;

  background: linear-gradient(135deg, #5f73ff, #4c62f0);
  color: white;

  font-size: 15px;
  font-weight: 800;

  box-shadow: 0 10px 24px rgba(95, 115, 255, 0.35);
  cursor: pointer;
}

.bus-map-icon {
  width: 38px;
  height: 38px;

  background: #5f73ff;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;

  border: 3px solid white;
  box-shadow: 0 4px 14px rgba(95, 115, 255, 0.5);
}

.destination-map-icon {
  width: 36px;
  height: 36px;

  background: #ff9f1c;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  border: 3px solid white;
  box-shadow: 0 4px 14px rgba(255, 159, 28, 0.45);
}
